ion-header {

    --ion-background-color: rgb(219, 239, 213);
    
    .title { 

        text-align: center;
    }

    ion-title {

        color : rgb(57, 154, 239);
        font-size: 25px;
        font-weight: bold;
        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    }
}

ion-content {

    --ion-background-color: rgb(249, 252, 248);

    ion-card {

        --ion-background-color: rgb(236, 249, 232);
        border-radius: 15px;

        ion-card-header {

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;

            ion-card-title {

                color: black;
                font-size: 30px;
                font-weight: bold;
                font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
            }

            p {

                font-size: 0px;
            }
        }

        .buttonArea {

            display: flex;
            flex-direction: row;
            justify-content: space-between;
            margin: 20px 10px 20px 10px;
        }

        ion-button {

            
            height: 50px;
            --background: rgb(183, 240, 159);
            font-weight: bold;
            font-size: 18px;
            font-family: 'Times New Roman', Times, serif;
        }

        .image {

            display: flex;
            flex-direction: row;
            justify-content: center;
            margin-left: 10px;
            margin-right: 10px;
            height: 350px;
        }

        #btnDetails {

            display: flex;
            flex-direction: row;
            justify-content: flex-start;
        }

        #btnSubscribe {

            display: flex;
            flex-direction: row;
            justify-content: flex-end;
        }
    }
}

